<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>FinePolicy Entry</title>
</head>
<h1>@ViewBag.msg</h1>
<form action="/FinePolicy/Entry" method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Student Name" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Rule</label>
        <input type="text" class="form-control" name="Rule" placeholder="Rule" required>
    </div>
    <div class="mb-3">
        <label class="form-label">FineAmount</label>
        <input type="number" class="form-control" name="FineAmount" placeholder="Fine Amount">
    </div>
    <div class="mb-3">
        <label class="form-label">FineAfterMinutes</label>
        <input type="number" class="form-control" name="FineAfterMinutes" placeholder="Fine After Minutes" required>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Entry" />
            </div>
            <div class="col">
                <input type="reset" class="btn btn-secondary" value="Cancel" />
            </div>
        </div>
    </div>
</form>

