@using SFMS.ReportHelpers
@model IList<TeacherDetail>
    <head>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <title>
            Report
        </title>
    </head>
    <body>
        <form action="~/report/TeacherDetailFromCodeToCode" method="get" target="_blank">
            <div class="mb-3">
                <label class="form-label">From Name</label>
                <select name="FromCode">
                    @foreach(var item in Model)
                    {
                    <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">To Name</label>
                <select name="ToCode">
                    @foreach(var item in Model)
                    {
                    <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <input type="submit" class="btn btn-success" value="Show" />
                    </div>
                    <div class="col">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                    </div>
                </div>
            </div>
        </form>
    </body>
